<h1>Wikis</h1>
<% @wikis.each do |wiki| %>
<div class="media">
    <div class="media-body">
        <div class="media-heading">
            <p><%= link_to wiki.title, wiki %></p>
        </div>
    </div>
</div>
 <% end %>