<h1>Wikis</h1>

<% if current_user.admin? || current_user.premium? %>
<% @wikis.each do |wiki| %>
<div class="media">
    <div class="media-body">
        <div class="media-heading">
            <p><%= link_to wiki.title, wiki %> <% if wiki.private == true %> <strong> - private</strong><% end %></p>
        </div>
    </div>
</div>
 <% end %>
 <% elsif current_user.standard? %>
     <% @public_wikis.each do |wiki| %>
     <div class="media">
    <div class="media-body">
        <div class="media-heading">
            <p><%= link_to wiki.title, wiki %></p>
        </div>
    </div>
</div>
 <% end %>
 <% end %>